<!-- Created using bootstrap studio This page organises the Edit User Profile Page-->

<!--using bootstrap-->
  <main class="page login-page">
    <section class="clean-block clean-form dark">
      <div class="container">
        <div class="block-heading">
          <h2 class="text-info">Sign Up</h2>
          <p> Sign up to post your novels and comment on other peoples novels that they have posted</p>
          </div>

        <!-- render code from the form and error message -->
        <%= render "form" %>
      </div>
    </section>
  </main>

