<!-- -->
<main class="page login-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Log In</h2>
        <p>Login to your account to start posting and commenting on the website. Share your story and opinion to others</p>
      </div>
      <%= render "form" %>
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
  </section>
</main>



