
<section class="clean-block clean-form dark">
  <div class="container">
    <div class="block-heading">
      <div class="clean-novel-post">
        <h2 class="text-info">Edit Your Novel</h2>
        <p>Edit your story, its your world your free range of your own imagination</p>
      </div>
    </div>

        <%= render "form", post: @post %>
  </div>
</section>