<section class="clean-block clean-form dark">
  <div class="container">
    <div class="block-heading">

      <div class="clean-novel-post">
        <h2 class="text-info">Post Your Novel</h2>
        <p>Share your ideas and post them here. See what others think about your story</p>
      </div>
      </div>
      <div class="block-content">
          <%= render "form", post: @post, class: "block-content" %>
      </div>
  </div>
</section>







